.block_my_courses .coursechildren {
    font-style:italic;
    font-weight:400;
}

.block_my_courses .categorypath {
    text-align:right;
}

.block_my_courses .content {
    margin:0 20px;
}

.block_my_courses .content .notice {
    margin:5px 0;
}

.block_my_courses .coursebox {
    background-clip:content-box;
    border:solid;
    padding:15px!important;
}

.block_my_courses .profilepicture {
    float:left;
}

.block_my_courses .welcome_area {
    padding-bottom:5px;
    width:100%;
}

.block_my_courses .welcome_message {
    border-collapse:separate;
    clear:none;
    float:left;
    padding:10px;
}

.block_my_courses .content h2.title {
    float:left;
    margin:0 0 .5em;
    position:relative;
    width: 100%;
}

.block_my_courses .content h2.title a{
    width: 100%;
}

.block_my_courses .course_title {
    position:relative;
}

.editing .block_my_courses .coursebox .cursor {
    cursor:move;
    margin-bottom:2px;
}

.editing .block_my_courses .move {
    float:left;
    padding:2px 10px 0 0;
}

.block_my_courses .activity_overview {
    padding:2px;
}

.block_my_courses .activity_overview img.iconlarge {
    margin-right:6px;
    vertical-align:text-bottom;
}

.block_my_courses .singleselect {
    margin:0;
    text-align:left;
}

.block_my_courses .content .my_courses_list .movehere {
    margin-bottom:15px;
}

.block_my_courses .progress-bar {
    -o-transition:width .6s ease;
    -webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition:width .6s ease;
    background-color:#337ab7;
    box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
    color:#fff;
    float:left;
    font-size:12px;
    height:100%;
    line-height:20px;
    text-align:center;
    transition:width .6s ease;
    width:0;
}

.no-progress,.block_my_courses .progress {
    height:20px;
    margin-bottom:20px;
}

.block_my_courses .progress {
    -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
    background-color:#f5f5f5;
    border-radius:4px;
    box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
    overflow:hidden;
}

.block_my_courses #box-or-lines,[data-block='my_courses'] #box-or-lines {
    background:url([[pix:block_my_courses|block_lines]]) no-repeat left top;
    float:right;
    height:29px;
    overflow:hidden;
    text-indent:-999em;
    transition:all .5s ease;
    width:37px;
}

.block_my_courses #box-or-lines.grid,[data-block='my_courses'] #box-or-lines.grid {
    background-position:right top;
    transition:all .5s ease;
}

.block_my_courses .my_courses_list,.block_my_courses .coursebox img {
    width:100%;
}

.block_my_courses .coursebox img {
    max-width: 300px;
}

.block_my_courses div.flush,.block_my_courses .activity_info {
    clear:both;
}